$navBg: black;
$navlistBg: black;

$navlistColor: white;
$jumbotronParagraphs: #757575;

$footerBackground: black;
$footerColor:white;

$projectTitleUnderBorder: #757575;
$mainBgColor: #f7f7f7;
$cardTitleColor: #333333;
$cardDescColor: #757575;