@use "sass:math";
@import "utils/colors";
@import "utils/font";

// navigation
.globNav {
  overflow: hidden;
  background-color: $navBg;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 3rem;
  font-family: $nav-font;
}
.logo {
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  font-size: 1.5rem;
}

.menu-icon {
  display: block;
  z-index: 10;
  #menu-icon-bar {
    display: block;
  }
  #menu-icon-times {
    display: none;
  }
}

#nav-list {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  text-align: center;
  .nav-item {
    padding: math.div(6vh, 100vh) * 100% 0;
  }
}

#nav-list .nav-responsive {
  display: block;
}

@media only screen and (min-width: 768px) {
  .menu-icon {
    color: white;
    cursor: pointer;
    display: none;
  }

  #nav-list {
    visibility: visible;
    flex-direction: row;
    position: static;
    height: inherit;
    width: auto;
    .nav-item {
      cursor: pointer;
      padding: 0 0.5rem;
    }
  }
  .nav-item {
    padding: 0 0.25rem;
  }
}
