@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@font-face {
  font-family: "jumbotronTitleFont";
  src: url("../public/FontsFree-Net-Proxima-Nova-Bold.otf");
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../public/FontsFree-Net-FontsFree-Net-Proxima-Nova-1.ttf");
}
.globNav {
  overflow: hidden;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  font-family: "DM Serif Display", serif;
}

.logo {
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  font-size: 1.5rem;
  color: black;
}

.menu-icon {
  display: block;
  z-index: 100;
  color: white;
}
.menu-icon #menu-icon-bar {
  display: block;
}
.menu-icon #menu-icon-times {
  display: none;
  color: white;
}

#nav-list {
  visibility: hidden;
  background: black;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  text-align: center;
  z-index: 50;
}
#nav-list .nav-item {
  color: white;
  padding: 6% 0;
}

@media only screen and (min-width: 812px) {
  .menu-icon {
    color: white;
    cursor: pointer;
    display: none;
  }
  #nav-list {
    visibility: visible;
    flex-direction: row;
    position: static;
    height: inherit;
    width: auto;
  }
  #nav-list .nav-item {
    cursor: pointer;
    padding: 0 0.5rem;
  }
  justify .nav-item {
    padding: 0 0.25rem;
  }
}
.jumbotron {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "jumbotronTitleFont";
  font-size: 4rem;
  font-weight: bold;
  padding-top: 2rem;
  height: 100vh;
}
.jumbotron p {
  color: #757575;
  font-size: 1rem;
}
.jumbotron img {
  height: auto;
}
.jumbotron .images {
  position: relative;
  width: 100%;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  top: 0;
  left: 0;
}
.jumbotron .images img:nth-child(1) {
  position: absolute;
  z-index: 20;
  width: 100%;
}
.jumbotron .images img:nth-child(2) {
  position: absolute;
  z-index: 10;
  width: 100%;
}
.jumbotron .images img:nth-child(3) {
  position: absolute;
  z-index: 10;
  opacity: 30%;
  border-radius: 50%;
  width: 100%;
}
.jumbotron .web-heading,
.jumbotron .coder-heading {
  text-align: center;
}
.jumbotron .web-heading {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}
.jumbotron .coder-heading {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

@-webkit-keyframes emerge-middle {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes emerge-middle {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes slide-from-left {
  0% {
    opacity: 0;
    padding-left: 0;
  }
  50% {
    opacity: 0.5;
    padding-left: 3rem;
  }
  100% {
    opacity: 1;
    padding-left: 8rem;
  }
}
@keyframes slide-from-left {
  0% {
    opacity: 0;
    padding-left: 0;
  }
  50% {
    opacity: 0.5;
    padding-left: 3rem;
  }
  100% {
    opacity: 1;
    padding-left: 8rem;
  }
}
@-webkit-keyframes slide-from-right {
  0% {
    opacity: 0;
    padding-right: 0;
  }
  50% {
    opacity: 0.5;
    padding-right: 3rem;
  }
  100% {
    opacity: 1;
    padding-right: 8rem;
  }
}
@keyframes slide-from-right {
  0% {
    opacity: 0;
    padding-right: 0;
  }
  50% {
    opacity: 0.5;
    padding-right: 3rem;
  }
  100% {
    opacity: 1;
    padding-right: 8rem;
  }
}
@media only screen and (min-width: 812px) {
  .jumbotron {
    flex-direction: row;
  }
  .jumbotron .images {
    order: 2;
    height: auto;
  }
  .jumbotron .images img:nth-child(1) {
    top: 5rem;
    left: 5rem;
    width: 800px;
  }
  .jumbotron .images img:nth-child(2) {
    top: 15rem;
    right: 30%;
    width: 500px;
  }
  .jumbotron .images img:nth-child(3) {
    top: 20rem;
    left: 50%;
    width: 500px;
  }
  .jumbotron .web-heading {
    order: 1;
    align-self: center;
    padding: 0rem 8rem;
  }
  .jumbotron .coder-heading {
    order: 3;
    align-self: center;
    padding: 0rem 8rem;
  }
}
.footer-container {
  z-index: 100;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 1rem 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: black;
  color: white;
  font-family: "Proxima Nova";
}
.footer-container a {
  color: inherit;
}
.footer-container .footer-icon {
  text-align: center;
}/*# sourceMappingURL=style.css.map */