@import "utils/colors";
@import "utils/font";

// navigation
.globNav {
  overflow: hidden;
  background-color: red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  font-family: $nav-font;
}
.logo {
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  font-size: 1.5rem;
}

.menu-icon {
  display: block;
  z-index: 10;
  #menu-icon-bar {
    display: block;
  }
  #menu-icon-times {
    display: none;
  }
}

#nav-list {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: yellow;
  text-align: center;
}

#nav-list .nav-responsive {
  display: block;
}

@media (min-width: 768px) {
  .menu-icon {
    color: white;
    cursor: pointer;
    display: none;
  }
  #nav-list a {
    cursor: pointer;
  }
  .nav-item {
    padding: 0 0.25rem;
  }
}
